<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container py-5 text-white">
    <h1>New list</h1>
  </div>
</div>
<div class="mt-5 container">
  <%= link_to "Back to all", lists_path, class: "btn btn-secondary mb-5" %>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.submit "Add", class: "btn btn-success" %>
  <% end %>
</div>
